.MainContent {
  display: flex;
  flex-flow: column;
  margin-top: 2.5rem;
  padding: 1rem;
}

.MainContent__headerText {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: 769px) {
  .carousel {
    width: 50%;
    margin: 0% auto;
  }

  .MainContent {
    align-items: center;
  }
}
