.UserMenu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.usermenu__signup,
.usermenu__signin,
.user__houseList {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.menu__linkText {
  margin-left: 0.5rem;
}
